<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssu.assu">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- API 레벨 33 (Android 13) 이상에서 미디어 파일 접근 권한 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- API 레벨 32 (Android 12L) 이하에서 외부 저장소 읽기 권한 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASSU_FE_app"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".presentation.user.home.UserMyPartnershipListActivity"
            android:exported="false" />
        <!-- FCM 서비스 등록 -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.common.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.common.chatting.ChattingActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".presentation.common.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ASSU_FE_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.common.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.user.UserMainActivity"
            android:exported="false" />
        <activity android:name=".presentation.user.home.UserQRVerifyActivity" />
        <activity android:name=".presentation.user.dashboard.UserSuggestCompleteActivity" />
        <activity android:name=".presentation.user.dashboard.UserServiceSuggestActivity" />
        <activity android:name=".presentation.user.review.mypage.UserMyReviewActivity" />
        <activity android:name=".presentation.user.review.writing.UserFinishReviewActivity" />
        <activity android:name=".presentation.user.review.writing.UserPhotoReviewActivity" />
        <activity android:name=".presentation.user.review.writing.UserStarReviewActivity" />
        <activity android:name=".presentation.common.location.LocationSearchActivity" />
        <activity android:name=".presentation.user.review.store.UserReviewStoreActivity" />
        <activity android:name=".presentation.user.home.CertifyActivity" />
        <activity android:name=".presentation.user.location.UserLocationSearchActivity" />
        <activity
            android:name=".presentation.admin.AdminMainActivity"
            android:exported="false" />
        <activity android:name=".presentation.admin.home.AdminHomeViewPartnerListActivity" />
        <activity android:name=".presentation.admin.dashboard.AdminDashboardSuggestionsActivity" />
        <activity
            android:name=".presentation.partner.PartnerMainActivity"
            android:exported="false" />
        <activity android:name=".presentation.partner.home.PartnerHomeViewAdminListActivity" />
        <activity
            android:name=".presentation.common.login.LmsLoginActivity"
            android:exported="false" />
    </application>

</manifest>